@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400&family=Caveat:wght@700&family=Lobster&family=Oswald:wght@400;500&family=Press+Start+2P&display=swap');
* {
	box-sizing: border-box;
}
header {
  height: 600px;
  background-image: linear-gradient(to top, rgba(89,106,114, 0.6), rgba(206,220,23, 0.4)), url("https://krot.info/uploads/posts/2020-01/1579386258_18-41.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.7;
  color: #fff;
  letter-spacing: 5px;
  width: 1000px;
  position: relative;
  left: 50%;
  margin-left: -500px;
  z-index: 0;
}
  .header_box {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: right;
  font-family: 'Caveat', cursive;
}
.header_img {
  position: absolute;
  top: -30%;
  left: 20%;
  z-index: 0;
}

.text span {
	display: block;
}
.tetx2 {
	display: block;
	font-size: 20px;
	color: #000;
	line-height: 5.0;
	font-weight: 700;
}
.main {
	margin-left: -500px;
	height: 700px;
  color: #fff;
  width: 850px;
  position: relative;
  left: 55%;
  margin-top: -10%;
  z-index: 1000;

}
.textmain {
	position: static;
	font-family: 'Press Start 2P', cursive;
	font-size: 20x;
	color: black;
}
.textnomain {
	position: static;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 16px;
	color: black;
	font-weight: 300;
}
.box {
  height: 700px;
  background-image: linear-gradient(to top, rgba(89,106,114, 0.6), rgba(206,220,23, 0.4)), url("https://krot.info/uploads/posts/2020-01/1579386258_18-41.jpg");
  background-size: cover;
  clip-path: polygon(0% 0%, 312% 160%, 312% 472%, 312% 472%, 0% 472%);
  width: 1000px;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  z-index: 0;
  top: 245px;
  z-index: 0;
  opacity: 0.5;
}